{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/AMSystemlogoWhite.png' %}" />
    <title>Registration</title>
    {% tailwind_css %}
    <style>
      .animate-blob {
            background-image: url("{% static 'images/Noise_Texture.png' %}");
            background-size: cover;
        }

        /* Dark theme styles */
        .dark {
            background-color: #1a202c;
            color: #cbd5e0;
        }

        .dark .bg-white {
            background-color: #2d3748;
        }

        .dark .shadow-md {
            box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
        }

        /* Hide the checkbox */
        #theme-toggle {
            display: none;
        }
    </style>
    </style>
  </head>
  <body class="bg-gray-50">
    <!-- Background Animations -->
    <div class="fixed inset-0 overflow-hidden">
      <div class="absolute rounded-full bg-primary-50 -left-20 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob"></div>
      <div class="absolute bg-blue-300 rounded-full -right-20 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-2000"></div>
      <div class="absolute rounded-full bg-[#3D5A80] -bottom-10 left-20 w-72 h-72 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-4000"></div>
      <div class="absolute z-0 bg-[#d4e7ff] rounded-full bottom-20 right-20 w-80 h-80 mix-blend-multiply filter blur-xl opacity-70 animate-blob animation-delay-3000"></div>
    </div>

    <!-- Main Container -->
    <div class="relative z-10 flex items-center justify-center min-h-screen">
      <div class="flex-col items-center justify-center hero-content lg:flex-row-reverse">
        <div class="w-screen max-w-lg bg-white shadow-lg card shrink-0">
          <form method="POST" action="{% url 'register' %}" class="card-body">
            {% csrf_token %}
            <div class="mb-6 text-center lg:text-center mb:mb-0">
              <h1 class="text-3xl font-bold text-blue-950">REGISTER EMPLOYEE</h1>
            </div>

            {% if messages %}
            <div class="mb-4">
              {% for message in messages %}
              <div class="p-4 mb-4 text-sm text-blue-700 bg-blue-100 rounded-lg" role="alert">{{ message }}</div>
              {% endfor %}
            </div>
            {% endif %}

            <!-- User ID -->
            <div class="form-control">
              <label class="text-left label">
                <span class="label-text">Employee ID</span>
              </label>
              <input type="text" name="user_id" placeholder="Enter Employee ID" class="input input-bordered" required />
              {% if form.user_id.errors %}
              <div class="mt-1 text-sm text-red-500">{% for error in form.user_id.errors %} {{ error }} {% endfor %}</div>
              {% endif %}
            </div>

            <!-- First Name and Last Name -->
            <div class="grid grid-cols-1 gap-4 lg:grid-cols-2">
              <div class="form-control">
                <label class="text-left label">
                  <span class="label-text">First Name</span>
                </label>
                <input type="text" name="first_name" placeholder="Enter First Name" class="input input-bordered" required />
                {% if form.first_name.errors %}
                <div class="mt-1 text-sm text-red-500">{% for error in form.first_name.errors %} {{ error }} {% endfor %}</div>
                {% endif %}
              </div>
              <div class="form-control">
                <label class="text-left label">
                  <span class="label-text">Last Name</span>
                </label>
                <input type="text" name="last_name" placeholder="Enter Last Name" class="input input-bordered" required />
                {% if form.last_name.errors %}
                <div class="mt-1 text-sm text-red-500">{% for error in form.last_name.errors %} {{ error }} {% endfor %}</div>
                {% endif %}
              </div>
            </div>

            <!-- Department Dropdown -->
            <div class="form-control">
              <label class="text-left label">
                <span class="label-text">Department</span>
              </label>
              <select name="department" class="select select-bordered" required>
                <option value="" disabled selected>Select Department</option>
                {% for dept in form.department.field.queryset %}
                <option value="{{ dept.id }}">{{ dept.name }}</option>
                {% endfor %}
              </select>
              {% if form.department.errors %}
              <div class="mt-1 text-sm text-red-500">{% for error in form.department.errors %} {{ error }} {% endfor %}</div>
              {% endif %}
            </div>

            <!-- Email -->
            <div class="form-control">
              <label class="text-left label">
                <span class="label-text">Email</span>
              </label>
              <input type="email" name="email" placeholder="Enter Email" class="input input-bordered" required />
              {% if form.email.errors %}
              <div class="mt-1 text-sm text-red-500">{% for error in form.email.errors %} {{ error }} {% endfor %}</div>
              {% endif %}
            </div>

            <!-- Birthdate and Contact Number -->
            <div class="grid grid-cols-1 gap-4 mt-4 lg:grid-cols-2">
              <div class="form-control">
                <label class="text-left label">
                  <span class="label-text">Birthdate</span>
                </label>
                <input type="date" name="birthdate" class="input input-bordered" />
              </div>
              <div class="form-control">
                <label class="text-left label">
                  <span class="label-text">Contact Number</span>
                </label>
                <input type="text" name="contact_number" placeholder="Enter Contact Number" class="input input-bordered" />
                {% if form.contact_number.errors %}
                <div class="mt-1 text-sm text-red-500">{% for error in form.contact_number.errors %} {{ error }} {% endfor %}</div>
                {% endif %}
              </div>
            </div>

            <!-- Register Button -->
            <div class="mt-6 form-control">
              <button type="submit" class="btn bg-[#3D5A80] text-white hover:border-x-cyan-400 w-full">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <script>
      const themeToggle = document.getElementById('theme-toggle');
      const body = document.getElementById('theme');
  
      // Check the stored theme on page load
      if (localStorage.getItem('theme') === 'dark') {
          body.classList.add('dark');
          themeToggle.checked = true; // Set the checkbox checked if dark theme is stored
      }
  
      // Toggle theme on checkbox change
      themeToggle.addEventListener('change', () => {
          body.classList.toggle('dark');
          if (body.classList.contains('dark')) {
              localStorage.setItem('theme', 'dark');
          } else {
              localStorage.removeItem('theme');
          }
      });
    </script>
  </body>
</html>
